<h2>Abilities</h2>

<hr />

<h3>Skills</h3>

<div class="row">

	<div class="col-md-6">
		<ul class="no-bullets">

			<% @abilities.skills.each_with_index do |skill, index| %>

			<li>
				<span class="ability-title"><%= skill[:title] %></span>
				<span class="ability-score">

					<% for stars in 0..4 %>

					<span class="glyphicon glyphicon-star <%= skill[:level] > stars ? 'filled' : ''; %>"></span>

					<% end %>

				</span>
			</li>
			<% if @abilities.skills.length / 2 == index + 1 %>
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">
			<% end %>
		<% end %>
		</ul>
	</div>

</div>

<hr />

<h3>Languages</h3>

<div class="row">
	<div class="col-md-6">
		<ul class="no-bullets">
		<% @abilities.languages.each_with_index do |language, index| %>
			<li>
				<span class="ability-title"><%= language[:title] %></span>
				<span class="ability-score">

					<% for stars in 0..4 %>

					<span class="glyphicon glyphicon-star <%= language[:level] > stars ? 'filled' : ''; %>"></span>

				<% end %>

				</span>
			</li>
			<% if @abilities.languages.length / 2 == index + 1 %>


		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">
		<% end %>
	<% end %>

		</ul>
	</div>
</div>

<hr />

<h3>Tools</h3>

<div class="row">
	<div class="col-md-6">
		<ul class="no-bullets">
			<% @abilities.tools.each_with_index do |tool, index| %>
			<li>
				<span class="ability-title"><%= tool[:title] %></span>
				<span class="ability-score">

					<% for stars in 0..4 %>

					<span class="glyphicon glyphicon-star <%= tool[:level] > stars ? 'filled' : ''; %>"></span>

				<% end %>

				</span>
			</li>
			<% if @abilities.tools.length / 2 == index + 1 %>

		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">
			<% end %>
		<% end %>
		</ul>
	</div>
</div>
