<h2><%= t(:profile)%></h2>
<p class="lead"><%= @profile.job %></p>

<hr />

<div class="row">
	<div class="col-md-4">
		<h3><%= t(:aboutMe)%></h3>
		<p>
			<%= @profile.biography %>
		</p>
	</div>
	<div class="col-md-4 text-center">
		<img src="<%= @profile.pictureName %>"  alt="<%= @userName %>" width="246" height="246" id="profilepicture"/>
	</div>
	<div class="col-md-4">
		<h3><%= t(:details)%></h3>
		<p>
			<strong><%= t(:name)%>:</strong><br />
			<%= @profile.fullName %><br />
			<strong><%= t(:age)%>:</strong><br />
			<%= @profile.age %> <%= t(:yearKeyword) %><br />
			<strong><%= t(:location)%>:</strong><br />
			<%= @profile.city %>, <%= @profile.country %><br />
			<a href="<%= t(:cvLink)%>" download="julien athomas resume" class="btn btn-info "><span class="glyphicon glyphicon-save"></span> <%= t(:resumeKeyword)%></a>
		</p>
	<% if I18n.locale != :fr %>
		<%= link_to "", {:locale=>'fr'}, {:class=> "frIcon"} %>
	<% end %>
	<% if I18n.locale != :en %>
		<%= link_to "", {:locale=>'en'}, {:class=> "enIcon"} %>
	<% end %>
	</div>
</div>
